
FRONTEND_URL=http://localhost:5173

PORT=4000
DB_USER=<your_user>
DB_PASSWORD=<your_password>
MONGO_URI=mongodb://<db_user>:<db_password>@mongo:27017/issues_db?authSource=admin
ACCESS_TOKEN_SECRET=alguna_clave_muy_secreta_access
REFRESH_TOKEN_SECRET=otra_clave_muy_secreta_refresh
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d
NODE_ENV=development

